.signin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/loginbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
